/*
css reset for the style sheet
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



/* start of my css styling */


body {

    background: linear-gradient( #252C56, #602F75 85%);
}

.container-main {

    display: flex;
    justify-content: space-around;
    text-align: center;
        
    background:  #252C56;
    
    border: 5px solid #5BD75F;
}

.container-home-score, .container-away-score {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {

    
    margin-top: .5em;
    padding: .5em .5em;

    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;

    color: white;
}

#home-score, #away-score{

    width: 2em;
    
    align-content: center;

    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 5em;

    background: black;
    color: red;
    border: 1px solid #FF0A2F;
}

.increment-numbers {
    
    width: 10em;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-one, .add-two, .add-three {

    
    width: 2em;
    margin: 1em .25em;
    padding: .25em;
    
    font-family: 'Cursed Timer ULiL', sans-serif;

    color: #3ACF3F;

    border: 1px solid #FF0A2F;
    border-radius: 5px;
}

.add-one:hover, .add-two:hover, .add-three:hover {

    background: black;

}

#btn {

    display: flex;
    justify-content: center;
    align-items: center;
}

#reset-score {

    padding: .5em 1em;
    margin: 1em 0;

    font-family: 'Poppins', sans-serif;
}